
/* common shared style*/
body{
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}
/* nav realted styles*/
nav{
display: flex;
align-items: center;
justify-content: space-between;
margin: 0 200px;
}
.nav-title{
    color: black;
    font-size:45px;
    font-weight:800;
}
.single-color
{
    color:orangered;
}
.btn-primary{
    color: white;
    border: 0;
    border-radius:5px;
    padding: 15px 35px;
     background-color: orangered;
}
nav>ul{
    display: flex;
    }
    nav li{
        list-style: none;
        margin-right:50px;
        }
    nav a{
        text-decoration: none;
        color:#474747
       
            }
            /* header related styles*/
.header{
    background-color: white;
}
.banner{
    
    padding: 30px 30px 30px 150px;/* T R B L*/
    display: flex;
    align-items: center;
}
.banner.profile-pic{
    width: 500px;

}
